@import url(modern-normalize.css);
@import url(header.css);
@import url(portfolio.css);
@import url(footer.css);

:root {
	--highlight-color: #2196f3;
	--white-color: #ffffff;
	--black-color: #212121;
	--grey-color: #757575;
	--bg-color: #2f303a;
	--grey-bg: #f5f4fa;
	--cards-icon-color: #afb1b8;
	--outer-margin: calc((100% - 1200px) / 2);
	--inner-padding: 94px 0 94px 0;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	background-color: var(--white-color);
	color: var(--grey-color);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.list {
	display: flex;
	list-style: none;
}

/*Background*/
section.background {
	height: 600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: linear-gradient(
			0deg,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url("../images/bg_img.jpg");
	background-size: cover;
}

main::before {
	content: "";
	display: flex;
	align-items: flex-end;
	width: 100%;
	border: 1px solid #ececec;
}

/* SOLUCIONES EFICACES PARA SU NEGOCIO */

h1.main-tittle {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	width: 696px;

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	z-index: 2;

	color: var(--white-color);
}

/* Auto layout */
.main-button {
	cursor: pointer;
	padding: 10px 32px;
	width: 261px;
	height: 50px;
	margin-top: 30px;
	z-index: 2;

	background: var(--highlight-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.main-button:hover,
.main-button:focus {
	box-shadow: 1px 1px 4px var(--white-color);
	color: var(--white-color);
	background-color: var(--highlight-color);
	border-color: var(--highlight-color);
}

.backdrop {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	z-index: 2;
	visibility: visible;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	width: 528px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.close-button {
	position: relative;
	left: 498px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 0;
	margin-left: -8px;
	margin-top: 8px;
}

.close-button:hover{
	background-color: var(--white-color);
	color: var(--highlight-color);
}

.modal-tittle {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--black-color);
	padding: 0px 40px;
	margin-bottom: 12px;
}

.modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 28px;
}

form label {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	padding-top: 10px;
	letter-spacing: 0.01em;
	color: var(--grey-color);
}

.modal-input-form {
	display: block;
	width: 448px;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	margin-bottom: 10px;
	outline: none;
	padding-left: 42px;
}

.modal-input-form:focus,
.modal-input-form:hover{
	border: 1px solid;
	border-color: var(--highlight-color);
}

.modal-input-group-name {
	position: relative;
}

.modal-input-group-name:hover .modal-input-form,
.modal-input-group-name:hover .icon-person{
	fill: var(--highlight-color);
	border-color: var(--highlight-color);
}

.icon-person {
	width: 12px;
	height: 12px;
	top: 14px;
	left: 15px;
	position: absolute;
}

.modal-input-form:focus + .icon-person,
.modal-input-form:hover + .icon-person{
	fill: #2196f3;
}

.modal-input-group-phone {
	position: relative;
}

.modal-input-group-phone:hover .modal-input-form,
.modal-input-group-phone:hover .icon-old-phone{
	fill: var(--highlight-color);
	border-color: var(--highlight-color);
}

.icon-old-phone {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 14px;
	left: 15px;
}

.modal-input-form:focus + .icon-old-phone,
.modal-input-form:hover + .icon-old-phone{
	fill: #2196f3;
}

.modal-input-group-email {
	position: relative;
}

.modal-input-group-email:hover .modal-input-form,
.modal-input-group-email:hover .icon-black-envelope{
	fill: var(--highlight-color);
	border-color: var(--highlight-color);
}

.icon-black-envelope {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 14px;
	left: 15px;
}

.modal-input-form:focus + .icon-black-envelope,
.modal-input-form:hover + .icon-black-envelope{
	fill: #2196f3;
}

.comments {
	height: 120px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	padding-top: 12px;
	padding-left: 12px;
}

label .comments::placeholder {
	position: absolute;
	top: 12px;
	left: 12px;
}

.agreement-box {
	display: flex;
	align-items: start;
	gap: 8px;
	margin: 0px;
	width: 425px;
}

.modal-checkbox {
	margin-top: 4px;
}

.agreement {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--grey-color);
}

.modal-button-send {
	width: 200px;
	height: 50px;
	color: var(--white-color);
	background-color: var(--highlight-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 6px 124px 40px 124px;
}

/*

Main articles

*/
.section {
	padding: var(--inner-padding);
}

.sec-a {
	padding-bottom: 0px;
}

.sec-b {
	padding-bottom: 0px;
}

.sec-c {
	padding-top: 60px;
}

.icon-box {
	display: flex;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	background-color: var(--grey-bg);
}

.icon-antena {
	width: 65px;
	height: 70px;
}

.icon-clock {
	width: 66px;
	height: 70px;
}

.icon-diagram {
	width: 70px;
	height: 53px;
}

.icon-astronaut {
	width: 70px;
	height: 70px;
}

ul.article-ulist {
	display: flex;
	list-style: none;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

ul.article-ulist > li {
	width: 270px;
}

.article-tittle {
	text-align: start;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10px;
	color: var(--black-color);
}

li > .article-description {
	text-align: left;
}

/*

US

*/

.us {
	text-align: center;
	padding-bottom: 50px;
	color: var(--black-color);
}

.us-list {
	display: flex;
	list-style: none;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 94px;
}

ul.us-list > li {
	position: relative;
}

li > .us-bg {
	position: absolute;
	background-color: var(--black-color);
	opacity: 80%;
	top: 78%;
	left: 0px;
	width: 370px;
	height: 70px;
	text-align: center;
	padding-top: 27px;
}

li > .us-bg > p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	color: var(--white-color);
	opacity: 100%;
}

/*

TEAM

*/

.team-section {
	background-color: var(--grey-bg);
}

.our-team {
	text-align: center;
	color: var(--black-color);
	padding-bottom: 50px;
}

.team-box {
	display: flex;
	list-style: none;
	gap: 37px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.team-list {
	background-color: var(--white-color);
	height: auto;

	/*CARD SHADOW*/

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

li > h3 {
	display: block;
	text-align: center;
	padding-top: 30px;
	margin: 0px;
	padding-bottom: 0px;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: var(--black-color);
}

li > p {
	display: block;
	padding-top: 10px;

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: var(--grey-color);
}

ul.social-ulist {
	display: flex;
	list-style: none;
	gap: 10px;
	margin: 16px 32px 30px 32px;
}

ul.social-ulist > li {
	position: relative;
}

li .elipse {
	height: 44px;
	width: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}

.elipse:hover,
.elipse:focus {
	background-color: var(--highlight-color);
	cursor: pointer;
}

li > .icon-ig {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 20px;
	height: 20px;
	fill: var(--cards-icon-color);
}

.icon-ig:hover,
.icon-ig:focus {
	fill: var(--white-color);
}

.icon-twitter {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 20px;
	height: 20px;
	fill: var(--cards-icon-color);
}

.icon-twitter:hover,
.icon-twitter:focus {
	fill: var(--white-color);
}

.icon-fb {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 20px;
	height: 20px;
	fill: var(--cards-icon-color);
}

.icon-fb:hover,
.icon-fb:focus {
	fill: var(--white-color);
}

.icon-linkedin {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 20px;
	height: 20px;
	fill: var(--cards-icon-color);
}

.icon-linkedin:hover,
.icon-linkedin:focus {
	fill: var(--white-color);
}

.clients-section {
	padding: 59px 0 151px 0;
}

.clients-tittle {
	text-align: center;
	color: var(--black-color);
	padding-bottom: 44px;
}

.regular-clients {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

.clients-box {
	position: relative;
	color: var(--cards-icon-color);
	width: 170px;
	height: 81px;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}

.clients-box:hover,
.clients-box:focus {
	border-color: var(--highlight-color);
}

.icon-yaco {
	position: absolute;
	align-items: center;
	width: 41px;
	height: 47px;
	top: 25%;
	left: 38%;
	fill: var(--cards-icon-color);
}

.icon-yaco:hover,
.icon-yaco:focus {
	cursor: pointer;
	fill: var(--highlight-color);
}

.icon-company {
	position: absolute;
	align-items: center;
	width: 41px;
	height: 47px;
	top: 25%;
	left: 38%;
	fill: var(--cards-icon-color);
}

.icon-company:hover,
.icon-company:focus {
	cursor: pointer;
	fill: var(--highlight-color);
}

.icon-company2 {
	position: absolute;
	align-items: center;
	width: 40px;
	height: 52px;
	top: 20%;
	left: 38%;
	fill: var(--cards-icon-color);
}

.icon-company2:hover,
.icon-company2:focus {
	cursor: pointer;
	fill: var(--highlight-color);
}

.icon-foster-p {
	position: absolute;
	align-items: center;
	width: 84px;
	height: 40px;
	top: 25%;
	left: 31%;
	fill: var(--cards-icon-color);
}

.icon-foster-p:hover,
.icon-foster-p:focus {
	cursor: pointer;
	fill: var(--highlight-color);
}

.icon-brand {
	position: absolute;
	align-items: center;
	width: 62px;
	height: 45px;
	top: 25%;
	left: 30%;
	fill: var(--cards-icon-color);
}

.icon-brand:hover,
.icon-brand:focus {
	cursor: pointer;
	fill: var(--highlight-color);
}

.icon-company_tagline {
	position: absolute;
	align-items: center;
	width: 94px;
	height: 44px;
	top: 25%;
	left: 25%;
	fill: var(--cards-icon-color);
}

.icon-company_tagline:hover,
.icon-company_tagline:focus {
	cursor: pointer;
	fill: var(--highlight-color);
}

